table {
    border: solid;
    text-align: center;
    width: 80%;
    margin: 1.25rem;
    font-size: 0.8rem;
}

table th {
    padding: 20px;
}

table tr {
    border: solid;
    border-color: darkgray;
}
